@using BookmakerClientApp.Data.Model

<div class="grid-container">
    <div class="item1">Data zawarcia: </div>
    <div class="item2">Ilość zdarzeń na kuponie: </div>
    <div class="item3">Wynik: </div>
    <div class="item3">Wkład: </div>
    <div class="item3">Kurs całkowity</div>
    <div class="item3">Wygrana: </div>
</div>


@code {
    [Parameter]
    public BetTicketDto BetTicketDtos { get; set; }
}
