<div class="topnav">
    <a class="active" href="allBetTickets">Wszystkie kupony</a>
    <a href="winBetTickets">Wygrane kupony</a>
    <a href="lostBetTickets">Przegrane kupony</a>
    <a href="unfinishedBetTickets">Nierozstrzygnięte kupony</a>
</div>

@code{

}