<div class="topnav">
    <ul class="nav justify-content-center">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="allBetTickets">
                <span aria-hidden="true"></span> Wszystkie kupony
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="winBetTickets">
                <span aria-hidden="true"></span> Wygrane kupony
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="lostBetTickets">
                <span aria-hidden="true"></span> Przegrane kupony
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="unfinishedBetTickets">
                <span aria-hidden="true"></span> Nierozstrzygnięte kupon
            </NavLink>
        </li>
    </ul>
</div>

@code{

}