<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="uisual" content="Made with Uisual (uisual.com)">
    <meta name="author" content="#">
    <meta name="description" content="#">
    <meta name="referrer" content="unsafe-url">
    <meta name="robots" content="index, follow">
    <link rel="preconnect" href="https://res.cloudinary.com">
    <link rel="dns-prefetch" href="https://res.cloudinary.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link rel="me" href="#">
    <link rel="canonical" href="#">
    <link rel="icon" type="image/png" href="#" sizes="48x48">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">
    <link rel="preload" as="style" href="~/css/indexStyle.css">
    <link rel="stylesheet" href="~/css/indexStyle.css">
    <title>Strona główna</title>
</head>
<body>
<header role="banner" class="ui-section-header">
    <div class="ui-layout-container">
        <div class="ui-section-header__layout ui-layout-flex">
        </div>
    </div>
</header>
<main role="main">
    <section class="ui-section-hero">
        <div class="ui-layout-container">
            <div class="ui-layout-column-6 ui-layout-column-center">
                <h1>Witaj w aplikacji</h1>

            </div>
            <img src="logo.png" loading="lazy" alt="#" class="ui-section-hero--image">
            <h1>Jak ci się podoba aplikacja?</h1>
            <h1>Masz jakieś uwagi?</h1>
            <h1>Daj znać na: bookmakerApp@gmail.com</h1>
        </div>
    </section>
</main>
<footer role="contentinfo" class="ui-section-footer">
    <div class="ui-layout-container">
        <div class="ui-section-footer__layout ui-layout-flex">
            <p class="ui-section-footer--copyright ui-text-note">
                <small>&copy; Copyright by Jakub Celuch, 2023 </small>
            </p>
        </div>
    </div>
</footer>
</body>
</html>