<div class="topnav">
    <a class="active" href="myPersonalData">Moje dane</a>
    <a href="passwordChange">Zmiana hasła</a>
    <a href="personalDataChange">Zmiana danych</a>
    <a href="contact">Kontakt z administratorem</a>
</div>

@code{

}