@page "/contact"
@inherits LayoutComponentBase

<div class="topnav">
    <MyAccountNavMenu/>
</div>

<div style="padding:inherit">
    <h1>Kontakt:</h1>
    <table>
        <tr>
            <td>
                Jeżeli potrzebujesz wsparcia związanego aplikacją,
                <br/>
                skontaktuj się z administratorem korzystając z maila:
                <br/>
            </td>
        </tr>
        <tr>
            <td>
                <b>bookmakerApp@gmail.com</b>
            </td>
        </tr>
    </table>
</div>


@code{

}