@page "/myPersonalData"
@inherits LayoutComponentBase
@using BookmakerClientApp.Data.Service
@using BookmakerClientApp.Data.Model.User
@inject UserService userService

<div class="topnav">
    <MyAccountNavMenu/>
</div>

<UserDataComponent userDataDto="@userDataDto"/>


@code{
    UserDataDto userDataDto = new();

    protected override async Task OnInitializedAsync()
    {
        userDataDto = await userService.GetUserById();
    }

}