@page "/passwordChange"
@inherits LayoutComponentBase
@using BookmakerClientApp.Shared.MyAccountComponents

<div class="topnav">
    <MyAccountNavMenu/>
</div>

<UserChangePasswordComponent/>


@code{

}