@page "/personalDataChange"
@inherits LayoutComponentBase
@using BookmakerClientApp.Data.Service
@using BookmakerClientApp.Data.Model.User
@using BookmakerClientApp.Shared.MyAccountComponents
@inject UserService userService


<div class="topnav">
    <MyAccountNavMenu/>
</div>

<UserChangedDataComponent userDataDto="@userDataDto"/>

@code{
    private UserDataDto userDataDto = new();

    protected override async Task OnInitializedAsync()
    {
        userDataDto = await userService.GetUserById();
    }

}