@page "/currentBetTicket"
@using BookmakerClientApp.Data.Model
@using Newtonsoft.Json.Linq
@using BookmakerClientApp.Data.Extension
@using BookmakerClientApp.Data.Service
@inject BetTicketService betTicketService
@inject EventService eventService

<h1>Hello currentBetTicket</h1>

@listSize
@odds


@code{
    JArray eventsIdList = new JArray();
    List<FootballEventModel> eventsList = new List<FootballEventModel>();
    double deposit;
    BetTicketDto betTicketDto = new BetTicketDto();
    string listSize = "EMPTY";
    double odds = 1.0;

    protected override async Task OnInitializedAsync()
    {
        GetListFromLocalStorage();
        eventsIdList.Add(9);
        eventsIdList.Add(10);
        await GetFootballEvents();
        betTicketDto.Events = eventsList;
        listSize = eventsList.Count.ToString();
    }

    private void GetListFromLocalStorage()
    {
        string key = "events-list";
        LocalStorageExtension localStorage = LocalStorageExtension.GetInstance();
        eventsIdList = localStorage.Get<JArray>(key);
    }

    private async Task GetFootballEvents()
    {
        eventsList = await eventService.GetFootballEventsByIds(eventsIdList);
        CountOdds();
    }

    public async Task AddBetTicket()
    {
        await betTicketService.AddBetTicket(betTicketDto);
    }

    private double CountOdds()
    {
        foreach (FootballEventModel footballEvent in eventsList)
        {
            odds *= footballEvent.Odds;
        }
        return odds;
    }

}
