@page "/index"
@using BookmakerClientApp.Data.Model
@using BookmakerClientApp.Data.Service
@inject EventService eventService
@inject BetTicketService betTicketService

<button class="btn btn-primary" @onclick="GetDataFromApi">Fetch Data</button>

@listSize



@code{
    string listSize = "EMPTY";

    public async Task GetDataFromApi()
    {
        List<BetTicketDto> betTicketDtos = await betTicketService.GetAllBetTicketForUser();
        int size = betTicketDtos.Count;
        listSize = size.ToString();
    }
}

