@page "/"
@layout LoginLayout
@using BookmakerClientApp.Data.Service
@using BookmakerClientApp.Data.Model
@using System.Net.Http.Headers
@inject UserService userService
@inject NavigationManager navigationManager
@using Hanssens.Net
@using BookmakerClientApp.Data.Extension
@using Newtonsoft.Json.Linq

<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <img src="/logo.svg" id="icon" alt="User Icon" />
        </div>

        <EditForm Model="@user" OnValidSubmit="Submit">
            <input type="text" id="login" class="fadeIn second" @bind-value="user.username" name="login" placeholder="Adres e-mail">
            <input type="password" id="password" class="fadeIn third" name="login" @bind-value="user.password" placeholder="Hasło">
            <input type="submit" class="fadeIn fourth" value="Zaloguj sie">
        </EditForm>

        <div id="formFooter">
            @message
            <a class="underlineHover" href="#">
                <input type="button" class="fadeIn fourth" value="Zarejestruj sie" @onclick="SignUp" />
            </a>
        </div>

    </div>
</div>

@code{
    UserAuthModel user = new UserAuthModel();
    string message = "";
    JArray eventsId = new JArray();

    private async Task Submit()
    {
        HttpResponseMessage response = await userService.UserLogin(user);
        string statusCode = response.StatusCode.ToString();

        if (statusCode.Equals("OK"))
        {
            HttpResponseHeaders headers = response.Headers;

            IEnumerable<string> authorizations = headers.GetValues("Authorization");
            string token = authorizations.First().ToString();
            SaveValueInLocalStorage("Token", token);

            IEnumerable<string> idUserCollection = headers.GetValues("id-user");
            string idUser = idUserCollection.First().ToString();
            SaveValueInLocalStorage("id-user", idUser);

            SaveValueInLocalStorage("events-list", eventsId);

            navigationManager.NavigateTo("/index");
        }
        else
        {
            message = "Twój email lub hasło jest złe";
        }
    }

    private void SaveValueInLocalStorage<T>(string key, T value)
    {
        LocalStorageExtension localStorage = LocalStorageExtension.GetInstance();
        localStorage.Store(key, value);
    }

    private void SignUp()
    {
        navigationManager.NavigateTo("/registration");
    }
}
