@page "/registration"
@using BookmakerClientApp.Data.Service
@using BookmakerClientApp.Data.Model
@layout LoginLayout
@inject UserService userService
@inject NavigationManager navigationManager

<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <img src="/logo.svg" id="icon" alt="User Icon" />
        </div>

        <EditForm Model="@user" OnValidSubmit="Submit">
            <input type="text" id="mail" class="fadeIn second" @bind-value="user.Mail" name="login" placeholder="Adres e-mail">
            <input type="password" id="password" class="fadeIn third" name="login" @bind-value="user.Password" placeholder="Hasło">
            <input type="password" id="passwordAgain" class="fadeIn third" name="login" placeholder="Powtórz hasło">
            <input type="text" id="name" class="fadeIn second" @bind-value="user.Name" name="login" placeholder="Imie">
            <input type="text" id="surname" class="fadeIn second" @bind-value="user.Surname" name="login" placeholder="Nazwisko">
            <input type="text" id="age" class="fadeIn second" @bind-value="user.Age" name="login" placeholder="Wiek">
            <input type="submit" class="fadeIn fourth" value="Zarejestuj się">
        </EditForm>

        <div id="formFooter">
            <a class="underlineHover" href="#">
                <input type="button" class="fadeIn fourth" value="Masz już konto? Zaloguj się" @onclick="Login" />
            </a>
        </div>

    </div>
</div>

@code {
    UserModel user = new UserModel();
    string message;
    private void Login()
    {
        navigationManager.NavigateTo("/");
    }

    private async Task Submit()
    {
        HttpResponseMessage response = await userService.UserRegistration(user);
        string statusCode = response.StatusCode.ToString();

        if (statusCode.Equals("OK"))
        {
            message = "Pomyślnie utworzono konto. Możesz się zalogować";
            await Task.Delay(5000);
            navigationManager.NavigateTo("/");
        }
        else
        {
            message = "Coś poszło nie tak. Podaj poprawne dane";
        }
    }
}
