@page "/allBetTickets"
@inherits LayoutComponentBase
@using BookmakerClientApp.Data.Model
@using BookmakerClientApp.Data.Service
@inject BetTicketService betTicketService

<div class="topnav">
    <BetTicketNavMenu />
</div>

<br />
@if (betTicketDtos != null)
{
    @foreach (BetTicketDto betTicket in betTicketDtos)
    {
        <BetTicketComponent BetTicketDto="betTicket" />
        <br />
    }
}


@code{
    List<BetTicketDto> betTicketDtos;

    protected override async Task OnInitializedAsync()
    {
        betTicketDtos = await betTicketService.GetAllBetTicketForUser();
    }

}