@page "/winBetTickets"
@inherits LayoutComponentBase
@using BookmakerClientApp.Data.Model
@using BookmakerClientApp.Data.Service
@inject BetTicketService betTicketService

<div class="topnav">
    <BetTicketNavMenu />
</div>

<br />
@if (betTicketDtos != null)
{
    @foreach (BetTicketDto betTicket in betTicketDtos)
    {
        <BetTicketComponent BetTicketDto="betTicket" />
        <br />
    }
    <div>
        <PaginationComponent numberOfPages="@numberOfPages" currentPageNumber="@currentPageNumber"
                             ChangeCurrentPageNumber="@ChangeCurrentPageNumber"/>
    </div>
}


@code{
    private List<BetTicketDto> betTicketDtos;
    private int currentPageNumber;
    private int numberOfPages;

    protected override async Task OnInitializedAsync()
    {
        await GetBetTickets();
        if (betTicketDtos.Any())
        {
            numberOfPages = betTicketDtos.First().NumberOfPages;
        }
    }
    
    private async Task GetBetTickets()
    {
        betTicketDtos = await betTicketService.GetWonBetTicketForUser(currentPageNumber);
    }

    private async Task ChangeCurrentPageNumber(int pageNumber)
    {
        currentPageNumber = pageNumber;
        await GetBetTickets();
    }

}