@page "/finishedFootballEvents"
@inherits LayoutComponentBase
@using BookmakerClientApp.Data.Service
@using BookmakerClientApp.Data.Model.Event
@inject EventService eventService


<div class="topnav">
    <EventNavMenu/>
</div>

@if (footballEventModelDtos == null)
{
    <p>
        <em>Brak zdarzeń</em>
    </p>
}
else
{
    <FinishedEventComponent footballEventModelDtos="@footballEventModelDtos"/>
    <div>
        <PaginationComponent numberOfPages="@numberOfPages" currentPageNumber="@currentPageNumber"
                             ChangeCurrentPageNumber="@ChangeCurrentPageNumber"/>
    </div>
}


@code{
    private List<FootballEventDto> footballEventModelDtos;
    private int currentPageNumber;
    private int numberOfPages;

    protected override async Task OnInitializedAsync()
    {
        await GetFootballEvents();
        if (footballEventModelDtos.Any())
        {
            numberOfPages = footballEventModelDtos.First().NumberOfPages;
        }
    }

    private async Task GetFootballEvents()
    {
        footballEventModelDtos = await eventService.GetFinishedFootballEvents(currentPageNumber);
    }

    private async Task ChangeCurrentPageNumber(int pageNumber)
    {
        currentPageNumber = pageNumber;
        await GetFootballEvents();
    }

}