@page "/footballEvents"
@inherits LayoutComponentBase
@using BookmakerClientApp.Data.Service
@using BookmakerClientApp.Data.Model
@inject EventService eventService


<div class="topnav">
    <EventNavMenu />
</div>

@if (footballEventModelDtos == null)
{
    <p><em>@listSize</em></p>
}
else
{
    <EventComponent footballEventModelDtos="@footballEventModelDtos" />
}



@code{
    public List<FootballEventDto> footballEventModelDtos;
    public string listSize = "Brak zdarzeń";

    protected override async Task OnInitializedAsync()
    {
        footballEventModelDtos = await eventService.GetUnfinishedFootballEvents();
        bool isEmpty = !footballEventModelDtos.Any();
        if (isEmpty)
        {
            listSize = "Brak zdarzeń";
        }
    }
}
