@page "/footballEvents"
@inherits LayoutComponentBase
@using BookmakerClientApp.Data.Service
@inject EventService eventService

<div class="topnav">
    <EventNavMenu />
</div>

<div>
    <button class="btn btn-primary" @onclick="GetToken">Get Token</button>
    @message
</div>



@code{
    string message;

    protected void GetToken()
    {
        //message = eventService.getToken();
        message = "TOKEN";
    }

}
