<div class="topnav">
    <ul class="nav justify-content-center">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="footballEvents">
                <span aria-hidden="true"></span> Piłka nożna
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="finishedFootballEvents">
                <span aria-hidden="true"></span> Zakończone mecze piłkarskie
            </NavLink>
        </li>
    </ul>
</div>

@code{

}