@using BookmakerClientApp.Data.Service
@using BookmakerClientApp.Data.Model.User
@inject UserService userService

<br/>
<div class="input-group input-group-lg">
    <div class="input-group-prepend">
        <span style="width:150px;" class="input-group-text" id="inputGroup-sizing-lg">Stare hasło</span>
    </div>
    <input id="oldPassword" @bind-value="oldPassword" type="password" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
</div>
<div class="input-group input-group-lg">
    <div class="input-group-prepend">
        <span style="width:150px;" class="input-group-text" id="inputGroup-sizing-lg">Nowe hasło</span>
    </div>
    <input id="newPassword1" @bind-value="newPassword" type="password" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
</div>
<div class="input-group input-group-lg">
    <div class="input-group-prepend">
        <span style="width:150px;" class="input-group-text" id="inputGroup-sizing-lg">Powtórz hasło</span>
    </div>
    <input id="newPassword2" type="password" @bind-value="newPassword2" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
</div>
<div class="input-group input-group-lg">
    <button style="background-color: #0275d8; color: white" @onclick="@ChangePassword" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">Zmień hasło</button>
</div>
<div class="input-group input-group-lg">
    @message
</div>

@code {
    private string oldPassword;
    private string newPassword;
    private string newPassword2;
    private string message;

    private async Task ChangePassword()
    {
        if (newPassword.Equals(newPassword2))
        {
            UserPasswordDto user = new UserPasswordDto
            {
                OldPassword = oldPassword,
                NewPassword = newPassword
            };
            HttpResponseMessage response = await userService.ChangePassword(user);
            string statusCode = response.StatusCode.ToString();
            message = statusCode.Equals("OK") ? "Hasło zostało pomyślnie zmienione" : "Coś poszło nie tak. Podaj poprawne dane";
        }
    }

}